body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page404 {
  background: linear-gradient(180deg, #5189c4 0%, #3552a0 55.82%, #27378e 100%);
}
.page505 {
  background: linear-gradient(
    180deg,
    #ffeed1 0%,
    #9dddeb 14.92%,
    #5189c4 71.21%
  );
}
.login {
  background: linear-gradient(151.76deg, #b5dae2 -27.79%, #5189c4 65.96%);
}
.dashboard {
  background: linear-gradient(151.76deg, #b5dae2 -27.79%, #5189c4 65.96%);
}
